.control {
  display: inline-block;
  button {
    display: block;
    margin: 20px;
    padding: 15px;
    min-width: 200px;
    background-color: #fff;
    box-shadow: none;
    border: 3px solid #000;
    cursor: pointer;
    &.business {
      background-color: yellow
    }
    &.disableButton {
      opacity: 0.5;
      cursor: auto;
    }
    &.economy {
      background-color: grey
    }
    strong {
      font-size: 22px;
    }
  }
}