.aircraft {
  margin:10px;
  display: inline-block;
  padding: 15px 0px 15px 15px;
  border: 1px solid #000;
  .seat {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    padding: 5px;
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    font-size: 14px;
    &.free {
      background-color: green;
    }
    &.occuped {
      background-color: red;
    }
    &.aisle {
      margin-right: 25px;
    }
  }
  .end-row {
    margin-bottom: 20px;
    content: '';
  }
  .emergency-row, .end-business-class {
    margin-top: 40px;
  }
  
}
